<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Addition</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <h1>HOME PAGE: EJS Addition Son => <%= 3 * 11 %></h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum et, saepe dolore aperiam quia aliquid expedita est dolorum commodi excepturi consequuntur consequatur ducimus aliquam sint iste in sapiente deleniti aspernatur.
    Voluptates autem voluptatem consectetur earum voluptatum dicta pariatur cupiditate aut recusandae, quod, distinctio exercitationem at molestiae numquam! Vero, veritatis? Assumenda quidem veritatis ea modi ullam optio neque inventore, aperiam nisi.
    Voluptates, reiciendis magnam pariatur facilis qui cum culpa dignissimos quia aliquam omnis tempore eos dolorem eveniet eius mollitia maxime voluptatum asperiores! Esse facere labore fugit doloremque, tenetur architecto quos debitis.
    Incidunt est culpa expedita eum, quisquam debitis reprehenderit fugit autem voluptatem impedit aliquid perspiciatis ad odit animi nemo. Et architecto quo, odio quaerat consequuntur quisquam autem id unde quidem necessitatibus.
    Nisi laudantium minus, quo maiores vero fugiat autem perferendis deleniti. Sint facere natus dolores nam blanditiis harum reprehenderit magnam quos expedita voluptates sit dolor dignissimos impedit, temporibus iste molestiae quia!
    Provident dolore cum et repellendus enim ea voluptatum quos cumque nesciunt, tempore quam voluptate repudiandae ipsum debitis iure dolorum? Optio quia eaque ab repellendus, ipsum itaque unde cumque libero recusandae?
    Deserunt voluptas voluptatibus ab labore placeat quidem in, omnis, rerum atque consectetur optio aperiam ullam? Dignissimos esse, sunt unde natus repellendus molestiae modi iure cupiditate officia? Ipsa sed iusto quibusdam!</p>

    <h1>Your Random Number is: # <%= Math.floor(Math.random() * 10) + 1 %></h1>

</body>
</html> 