<%- include("partials/header") %>

<h1>Welcome to the HOME page!!!</h1>\

<img src="https://i1.wp.com/bobs-bicycles.com/wp-content/uploads/2019/12/Giant-2020-Roam-4-Disc-Tan-200211212.jpg?fit=1087%2C1087&ssl=1" alt=""> 

<%- include("partials/footer") %>


