/*div {
	width: 150px;
	float: left;
}

#one {
	background-color: green
}

#two {
	background-color: yellow
}*/

img	{
	width: 30%;
	float: left;
	margin:	1.66%;
}

p {
	font-family: 'Raleway', sans-serif;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 3px solid blue;
	width: 30%;
	padding-bottom: 20px;
}